@model Ullr.Models.Models.UserModel

<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="navbar-content-logo" style="color: white; text-align: left; border-bottom: white solid 1px;">
            <a href='@Url.Action("ShowList", "Auctions")'><img src="~/ImageBackgroundsAndIcons/Logo/Runic.png" style="height: 49px; width: 90px;"></a>
        </div>
        <div class="navbar-content">
            <a href='@Url.Action("ShowList", "Shop")'>
                <div class="navbar-content links">Магазин</div>
            </a>
            <a href='@Url.Action("ShowList", "Auctions")'>
                <div class="navbar-content links">Аукционы</div>
            </a>
            <div class="navbar-content links">test1</div>
            <div class="navbar-content links">test1</div>
        </div>
    </nav>
</div>
<div class="navbar-content right_block">
    @if (Model == null)
    {
        <a style="margin-right: 10px" href="@Url.Action("Register", "Account", null, null)">Новый пользователь</a>
        <a href="@Url.Action("Login", "Account", null, null)"><i class="fa fa-sign-in"></i> Войти</a>
    }
    else
    {
        <a style="margin-right: 10px" href='@Url.Action("ShowFavourites", "Shop")'><i class="fa fa-fw fa-star"></i> Избранное</a>
        <a style="margin-right: 10px" href='@Url.Action("PersonalRoom", "Account")'><i class="fa fa-fw fa-user"></i> Личный кабинет</a>
        <a href="@Url.Action("Logout", "Account", null, null)"><i class="fa fa-fw fa-sign-out"></i> Выйти</a>
    }
</div>